@tailwind base;
@tailwind components;
@tailwind utilities;

/* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html, 
body {
  height: 100%;
  width: 100%;
}*/

body {
  background-color: #111;
  color: #fff;
}
#TaskList::-webkit-scrollbar{
  display: none;
}
#Alltasks::-webkit-scrollbar{
  display: none;
}
#Alltasks2::-webkit-scrollbar{
  display: none;
}